/* スマホに適応される */
p {
    font-size: 28px;
}
header h1 {
    font-size: 70px;
}


@media screen and (min-width:481px) {
    /* タブレットに適応される */
    p {
        font-size: 26px;
    }
    header h1 {
        font-size: 60px;
    }
}


@media screen and (min-width:960px){
    /* PCに適応される */
    p {
        font-size: 24px;
    }
    header h1 {
        font-size: 50px;
    }
}